* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: hsl(212, 45%, 89%);
}

.container {
    padding: 20px;
    max-width: 280px;
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 15px hsl(180, 0%, 72%);
}

.container img {
    max-width: 100%;
    border-radius: 20px;
}

.container .heading {
    color: hsl(218, 44%, 22%);
}

.container .subtitle {
    color: hsl(220, 15%, 55%);
}



.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }